<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Signup Confirmation</title>
</head>

<body>
	<h1>You have been successfully registered!</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
		<strong>Favorite Team: </strong><%- team %><br>
	</div>
	<br><a href="/">Home</a>
</body>

</html>
