<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Favorite NBA Teams</title>
	<link rel="stylesheet" href="/stylesheets/indexstyle.css" type="text/css">
</head>

<body>
	<div class="outer">
		<h1 class="header">NBA Fan Registry</h1>
		<div class="inner">
			To register as a fan of a team: <a href="/register">Register</a><br><br>
			To view your favorite team's roster: <a href="/view">View Team</a><br>
		</div>
		<br>
		<img class="image" id="image" src="/images/nba.jpg" alt='initial'>
	</div>
	<hr>
</body>

</html>