
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Team Roster</title>
</head>

<body>
	<h1>Team Info</h1>
	<div>
		<%- roster %>
	</div>
	<br><a href="/">Home</a>
</body>

</html>
